.app {
  display: flex;
  width: 100%;
  min-height: 100vh;

}

.display-pane {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  background: white;
  padding: $gutter;

  &__main {
    flex-grow: 1;
  }
}
