.featured-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: $secondary-color;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  letter-spacing: 1rem;
  &__spacing {
      padding: 0 2rem;
    }
  }

.scroll-banner {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  &__item {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    background: $primary-color;
    padding: 3rem;
  }
}

.featured-text {
  padding: $gutter;
  // border-top: 1px black solid;
  // border-right: 1px black solid;
  &__title {
    color: $secondary-color;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    text-align: left;
  }
}
.featured-ingredients {
  &-title {
    margin: 0;
    color: $secondary-color;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    text-align: left;
    padding-top: $gutter;
    padding-bottom: $gutter;
  }
}
.feauted-ingredients__item{
  color: $secondary-color;
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  text-align: left;
}

.featured-frame {
  width: 20rem;
  // border-bottom: 1px black solid;
  &__picture {
    width: 100%;
  }
}
