@media screen and (max-width: 768px) {
  // //MQ for moving nav pane to bottom
  // .app {
  //   flex-direction: column-reverse;
  // }

  .nav {

    &-pane {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      background-color: #c5cdcd;
      width: 100%;
    }

    .logo {
      display: none;

      &-img {
        display: none;
      }
    }

    &-links {
      display: flex;
      flex-direction: row;
      width: 100%;

      &__link {
        margin: $gutter;
        padding: $gutter;
        font-size: 2rem;
        text-align: center;
        width: calc(100% / 3 - #{$gutter} - #{$gutter});
      }
    }
  }

  .account {
    display: none;

    &__buttons {
      display: none;
    //   text-align: center;
    //   &--btn {
    //     margin: 0.5 * $gutter;
    //   }
    }
  }

  .site-info {
    display: flex;
    justify-content: space-between;
    font-size: 0.5rem;
    text-align: center;
  }

}
