.logo {
  margin: $gutter auto;
  width: 10rem;
  flex-shrink: 0;
  &-img {
    width: 100%;
  }
}

.side {
  &-pane {
    @extend .z-depth-1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    width: 15rem;
    flex-shrink: 0;
    padding: $gutter;
  }

  &-links {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__link {
      margin: 0;
      padding: $gutter;
      font-size: 2rem;
      text-align: center;
      width: 100%;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
    }
  }
}
.links {
  color: $secondary-color;
  font-weight: lighter;
}
.side-links__link:hover {
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}
.side {

  &__buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    &__clicks{
      font-weight: bold;
      margin: $gutter/2;
      border: none;
      background: $primary-color;
      border-top: 1px solid $primary-color;
      border-bottom: 1px solid $primary-color;
      // border: 1px solid $secondary-color;
      // border-radius: 5%
    }
  }
}
.side__buttons__clicks:hover {
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
  // transform: scale(1.2);
}
.display-pane {
  font-family: $font;
}
.login-register {
  font-family: $font;
  font-weight: 300;
}

.clicks{
  // font-weight: bold;
  border: none;
  background: $primary-color;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  color: $secondary-color;
  display: flex;
  align-items: center;
}
.register-buttons {
  display: flex;
  justify-content: space-between;
}
.clicks:hover{
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}

.site-info {
  text-align: center;
}
.flex-box {
  display: flex;
  justify-content: space-between;
}
.no-account {
  display: flex;
  align-items: center;
  color: $secondary-color;
  border-top: $primary-color 1px solid;
  border-bottom: $primary-color 1px solid;
}
.no-account:hover {
// border-top: black 1px solid;
// border-bottom: black 1px solid;
}
.mobile-view {
  display: none;
}
.bold {
  font-weight: bold;
}
