.nav {

  &-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c5cdcd;
    width: 15rem;
    flex-shrink: 0;
  }

  &-links {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__link {
      margin: 0;
      padding: $gutter;
      font-size: 2rem;
      text-align: center;
      width: 100%;
    }
  }
}

.account {

  &__buttons {
    text-align: center;
    &--btn {
      margin: 0.5 * $gutter;
    }
  }
}

.site-info {
  text-align: center;
}
