.logo {
  margin: $gutter auto;
  width: 10rem;
  flex-shrink: 0;
  &-img {
    width: 100%;
  }
}

.side {
  &-pane {
    @extend .z-depth-1;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
    width: 15rem;
    flex-shrink: 0;
    padding: $gutter;
  }

  &-links {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__link {
      margin: 0;
      padding: $gutter;
      font-size: 2rem;
      text-align: center;
      width: 100%;
    }
  }
}
.links {
  color: $secondary-color;
  font-weight: lighter;
}
.side-links__link:hover {
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}
.side {

  &__buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    &__clicks{
      margin: $gutter/2;
      border: none;
      background: $primary-color;
    }
  }
}
.side__buttons__clicks:hover {
  border-top: 1px solid $secondary-color;
  border-bottom: 1px solid $secondary-color;
}
.display-pane {
  font-family: $font;
}
.login-register {
  font-family: $font;
  font-weight: lighter;
}

.clicks{
  border: none;
  background: $primary-color;
}
.register-buttons {
  display: flex;
  justify-content: space-between;
}
.clicks:hover{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.site-info {
  text-align: center;
}
.mobile-view {
  display: none;
}
