.recipe-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: $gutter;

  &__left {
    }

  &__right {
    }
}

.recipe {
  &-title {
    margin: 0;
  }
}

.ingredients {
  font-size: 2rem;

  &-list {
    margin: 0;

    &__item {
      font-size: 1rem;
    }
  }
}

.recipe-frame {
  width: 15rem;
  padding: 0;
  margin: 0;

  &__picture {
    width: 100%;
  }
}

.recipe-bottom {
  padding: $gutter;
}

.recipe-instructions {
  &__text {
    font-size: 1.5rem;
  }
}
