.recipe-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: $gutter;

  &__left {
    }

  &__right {
    }
}
.recipe {
  text-align: center;
  &-title {
    margin: 0;
    font-weight: 400;
  }
}

.ingredients {
  font-size: 2rem;
  margin-top: 2*$gutter;
  padding-left: 3rem;
  &-title{
    font-weight: 400;
  }

  &-list {
    margin: 0;
    text-align: left;

    &__item {
      font-size: 1rem;
      list-style: none;
    }
  }
}
.recipe-box {
  display: flex;
}
.recipe-frame {
  width: 15rem;
  padding: 0;
  margin: 0;

  &__picture {
    width: 100%;
  }
}

.recipe-bottom {
  padding: $gutter;
}

.recipe-instructions {
  &__text {
    font-size: 1.5rem;
    font-weight: 300;
    padding:0 10%;
  }
}
