// Fix for Roboto font path
$roboto-font-path: '../assets/';

$gutter: 1rem;
$primary-color: #fff;
$secondary-color: #000;
$third-color: #cbcbcb;
$fourth-color: #c81e32;
$max-content-width: 60rem;
$min-content-width: 10rem;

// Materialize styles
@import "custom-materialize";
@import 'blame-materialize';
@import 'media-queries';
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import 'box-sizing';
@import 'base';
@import 'browse';
@import 'recipe';
@import 'featured';
@import 'nav-pane';
