@media screen and (max-width: 600px) {

//index or nav-bar styling:
.mobile-hide{
  display: none;
}
.app{
  flex-direction: column-reverse;
}
.side-pane {
  background:$primary-color;
  width: 100%;
  padding: .5rem;
}
.container {
  display: flex;
}
.side-links {
  display: flex;
  flex-direction: row;

&__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-right: .25rem;
  padding-left: .25rem;
  border: none;
}
}
.side-links__link:hover {
  border: none;
}

.mobile-view {
  // display: flex;
  // justify-content: center;
  margin: 0;
  // padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: .25rem;
  padding-bottom: .25rem;
}
.logo {
  display: none;
}
.links {
  margin: 0;
}
.icon {
  padding: 0;
  width: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &-image{
    width: 100%;
  }
}


//featured page styling:
.featured-title {
  font-size: 3rem;
  &__spacing {
      padding:0;
    }
}

}
