@media screen and (max-width: 500px) {

//index or nav-bar styling:
.mobile-hide{
  display: none;
}
.app{
  flex-direction: column-reverse;
}
.side-pane {
  // background:$third-color;
  width: 100%;
  padding: .5rem;
}
.container {
  display: flex;
}
.side-links {
  display: flex;
  flex-direction: row;

&__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
}
.side-links__link:hover {
  border: none;
}

.mobile-view {
  // display: flex;
  // justify-content: center;
  margin: 0;
  // padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.logo {
  display: none;
}
.links {
  margin: 0;
}


//featured page styling:
.featured-title {
  font-size: 3rem;
  &__spacing {
      padding:0;
    }
}

}
