<div class="app">
  <nav class="nav-pane">
    <div class="logo">
      {{#link-to 'index'}}
        <img src="http://www.placecage.com/200/100" alt="" class="logo-img">
      {{/link-to}}
    </div>
    <div class="nav-links">
      <div class="nav-links__link">
        {{#link-to 'index.featured'}}Featured{{/link-to}}
      </div>
      <div class="nav-links__link">
        {{#link-to 'index.browse'}}Browse{{/link-to}}
      </div>
      <div class="nav-links__link">
        {{#link-to 'index.cabinet'}}Cabinet{{/link-to}}
      </div>
    </div>
    <div class="account-buttons">
      {{#link-to 'index.login' class='waves-effect waves-light btn'}}Login{{/link-to}}
      {{!-- {{#link-to 'register'}}Register{{/link-to}} --}}
    </div>

    <div class="site-info">
      <p class="copyright">Designed by James Ridley and Woody Evins</p>
      <p class="data-source">Data sourced from
        <a href="http://www.absolut.com/us/" class="absolout-link">Absolut</a>
      </p>
      <p class="made-with">
        Made using
        <a href="http://emberjs.com/" class="ember-link">Ember</a>
        and
        <a href="http://materializecss.com/" class="materialize-link">Materialize</a>
      </p>
      <p class="disclaimer">Please drink responsibly</p>
    </div>

  </nav>

  <div class="display-pane">
    {{#if registerDialog}}
      {{!-- show register modal --}}
    {{/if}}
    {{#if loginDialog}}
      {{!-- show login modal --}}
    {{/if}}
    {{#modal-dialog translucentOverlay=true overlayClassNames="overlay" wrapperClassNames='wrapper'}}
      whatup
    {{/modal-dialog}}
    {{outlet}}
  </div>
</div>
