<h2 class="page-title">BROWSE</h2>
{{!-- <nav>
  <div class="nav-wrapper">

  </div>
</nav> --}}
  {{#list-filter
filter=(action 'filterByDrink')
as |drink|}}

<div class="row">
  {{#each model as |drink|}}
    {{#link-to "index.recipe" class="drink-recipe-link" }}
      <div class="drink-frame">
        <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
        <p class="drink-frame__name">{{drink.name}}</p>
      </div>
    {{/link-to}}
  {{/each}}
</div>
{{/list-filter}}

<div class="row">
  <button {{action incrementProperty "page"}}>MOAR!</button>
</div>
