<h2 class="page-title">B R O W S E</h2>
<nav>
  <div class="nav-wrapper">
    <form>
      {{!-- <div class="input-field">
          <input class = "search-bar__field" id="search" type="search" required>
          <label for="search"><i class="material-icons search-bar__btn">search</i></label>
          <i class="material-icons">close</i>
        </div> --}}
      {{!-- {{#list-filter
   filter=(action 'filterByDrink')
   as |drinks|}}
      {{/list-filter}} --}}

    </form>
  </div>
</nav>

<div class="row">
  {{#each model as |drink|}}
    {{#link-to "index.recipe" class="drink-recipe-link" }}
      <div class="drink-frame">
        <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
        <p class="drink-frame__name">{{drink.name}}</p>
      </div>
    {{/link-to}}
  {{/each}}
</div>

<div class="row">
  <button {{action incrementProperty "page"}}>MOAR!</button>
</div>
