<h2 class="page-title">BROWSE</h2>

  {{#list-filter page=page query=query filter=(action 'filterByDrink') as |filteredDrinks|}}

    <div class="row">
      {{#each filteredDrinks as |drink|}}
        {{#link-to "index.recipe" drink class="drink-recipe-link" }}
          <div class="drink-frame">
            <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
            <p class="drink-frame__name">{{drink.name}}</p>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  {{/list-filter}}
  <div class="row">
  {{!-- <button class = "clicks"{{action incrementProperty "page"}}>More Drinks</button> --}}
  <button class = "clicks"{{action 'getNextPage'}}>More Drinks</button>
  </div>
