  <section class="container">
    <h2 class="page-title">Browse</h2>
  <div class="row">
    {{!-- {{#each model as |drink|}} --}}

    {{#link-to "index.recipe" class="drink-recipe-link"}}
    <div class="drink-frame card">
      <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
      <p class= "drink-frame__name">Drink Name</p>
    </div>
    {{/link-to}}

      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      <div class="drink-frame card">
        <img class = "drink-frame__picture" src="https://placebear.com/200/200" alt="">
        <p class= "drink-frame__name">Drink Name</p>
      </div>
      {{!-- {{/each}} --}}
  </div>
  </section>
