<h2 class="page-title">BROWSE</h2>{{!-- <nav>
  <div class="nav-wrapper">

  </div>
</nav> --}}
{{!-- {{#simple-form onsubmit=(action 'filterByDrink') as |filteredDrinks|}} --}}

  {{#list-filter filter=(action 'filterByDrink') as |filteredDrinks|}}

    <div class="row">
      {{#each filteredDrinks as |drink|}}
      {{log drink}}
        {{#link-to "index.recipe" drink class="drink-recipe-link" }}
          <div class="drink-frame">
            <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
            <p class="drink-frame__name">{{drink.name}}</p>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  {{/list-filter}}
  {{!-- {{/simple-form}  --}}
  <div class="row">
  <button {{action incrementProperty "page"}}>MOAR!</button>
  </div>
