{{outlet}}
hellow there should be a button here from materialize
<a class="waves-effect waves-light btn">button</a>
<a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
