<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">

        <p>
          <input type="checkbox" id="test1" />
          <label for="test1">Whiskey</label>
        </p>
      </div>

      <div class="input-field col s6">
        <p>
          <input type="checkbox" id="test2" />
          <label for="test2">vodka</label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input disabled value="I am not editable" id="disabled" type="text" class="validate">
        <label for="disabled">Disabled</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
    </div>
  </form>
</div>
