<h2 class="page-title">CABINET</h2>
<div class="row">
  {{!-- <div class="col s12">This div is 12-columns wide</div> --}}

  {{#list-filter query=query filter=(action 'filterByIngredient') as |filteredDrinks|}}

    <div class="row">
      {{#each filteredDrinks as |ingredient|}}

          <div class="drink-frame">
            <p class="drink-frame__name">{{ingredient.name}}</p>
            <button {{action "addIngredient" ingredient}}>Add to Cabinet</button>
        </div>

      {{/each}}
    </div>
  {{/list-filter}}

  <div class="results-list">
    <ul>
      {{#each cabinet as |ingredient|}}
        <li>{{ingredient.name}}</li>
      {{/each}}
    </ul>
  </div>
  {{!-- <div class="card">
    <form class="col s4">
      Liquors
      <p>
      <input type="checkbox" id="test1" />
      <label for="test1">Brandy</label>
    </p>
    <p>
      <input type="checkbox" id="test2" />
      <label for="test2">Rum</label>
    </p>
    <p>
      <input type="checkbox" id="test3" />
      <label for="test3">Vokda</label>
    </p>
    <p>
      <input type="checkbox" id="test4" />
      <label for="test4">Bourbon</label>
    </p>
    <p>
      <input type="checkbox" id="test5" />
      <label for="test5">Cognac</label>
    </p>
    <p>
      <input type="checkbox" id="test6" />
      <label for="test6">Dry Vermouth</label>
    </p>
    <p>
      <input type="checkbox" id="test7" />
      <label for="test7">Gin</label>
    </p>
    <p>
      <input type="checkbox" id="test8" />
      <label for="test8">Mescal</label>
    </p>
    <p>
      <input type="checkbox" id="test9" />
      <label for="test9">Pisco</label>
    </p>
    <p>
      <input type="checkbox" id="test10" />
      <label for="test10">Wine, white</label>
    </p>
    <p>
      <input type="checkbox" id="test11" />
      <label for="test11">Sake</label>
    </p>
    </form>
  </div>

  <div class="card">
    <form class="col s4">
      Mixers
      <p>
      <input type="checkbox" id="test12" />
      <label for="test12">Brandy</label>
    </p>
    <p>
      <input type="checkbox" id="test13" />
      <label for="test13">Rum</label>
    </p>
    <p>
      <input type="checkbox" id="test14" />
      <label for="test14">Vokda</label>
    </p>
    <p>
      <input type="checkbox" id="test15" />
      <label for="test15">Bourbon</label>
    </p>
    <p>
      <input type="checkbox" id="test16" />
      <label for="test16">Cognac</label>
    </p>
    <p>
      <input type="checkbox" id="test17" />
      <label for="test17">Dry Vermouth</label>
    </p>
    <p>
      <input type="checkbox" id="test18" />
      <label for="test18">Gin</label>
    </p>
    <p>
      <input type="checkbox" id="test19" />
      <label for="test19">Mescal</label>
    </p>
    <p>
      <input type="checkbox" id="test20" />
      <label for="test20">Pisco</label>
    </p>
    <p>
      <input type="checkbox" id="test21" />
      <label for="test21">Wine, white</label>
    </p>
    <p>
      <input type="checkbox" id="test22" />
      <label for="test22">Sake</label>
    </p>
    </form>
  </div>
  <div class="card">
    <form class="col s4">
      fruit
      <p>
      <input type="checkbox" id="test23" />
      <label for="test23">Brandy</label>
    </p>
    <p>
      <input type="checkbox" id="test24" />
      <label for="test24">Rum</label>
    </p>
    <p>
      <input type="checkbox" id="test25" />
      <label for="test25">Vokda</label>
    </p>
    <p>
      <input type="checkbox" id="test26" />
      <label for="test26">Bourbon</label>
    </p>
    <p>
      <input type="checkbox" id="test27" />
      <label for="test27">Cognac</label>
    </p>
    <p>
      <input type="checkbox" id="test28" />
      <label for="test28">Dry Vermouth</label>
    </p>
    <p>
      <input type="checkbox" id="test29" />
      <label for="test29">Gin</label>
    </p>
    <p>
      <input type="checkbox" id="test30" />
      <label for="test30">Mescal</label>
    </p>
    <p>
      <input type="checkbox" id="test31" />
      <label for="test31">Pisco</label>
    </p>
    <p>
      <input type="checkbox" id="test32" />
      <label for="test32">Wine, white</label>
    </p>
    <p>
      <input type="checkbox" id="test33" />
      <label for="test33">Sake</label>
    </p>
    </form>
  </div> --}}
</div>
