<h2 class="page-title">FAVORITES</h2>
    <div class="row">
      {{#each filteredDrinks as |drink|}}
        {{#link-to "index.recipe" drink class="drink-recipe-link" }}
          <div class="drink-frame">
            <img class="drink-frame__picture" src="{{drink.photoUrl}}" alt="">
            <p class="drink-frame__name">{{drink.name}}</p>
          </div>
        {{/link-to}}
      {{/each}}
    </div>
  <div class="row">
  <button class = "clicks"{{action 'getNextPage'}}>More Drinks</button>
  </div>
