<div class="featured-body">
  <h2 class="featured-title"><span class="featured-title__spacing">FEATURED</span><span class="featured-title__spacing">DRINKS</span></h2>
  <div class="scroll-banner">
    {{#md-carousel fullWidth=true as |carousel|}}
      {{#each model as |drink|}}
      {{#link-to "index.recipe" drink class="drink-recipe-link" }}
        <a class="carousel-item" href="#one!">
        <div class="scroll-banner__item">
          <div class="featured-text ">
            <h3 class="featured-text__title">{{drink.name}}</h3>

            <ul class="featured-ingredients">
              <h4 class="featured-ingredients-title">Whatcha' Need:</h4>
              {{#each drink.recipeIngredients as |recipeIngredient|}}
                <li class="feauted-ingredients__item">
                  {{recipeIngredient.addbMeasure}}
                </li>
              {{/each}}
            </ul>
          </div>
          <div class="featured-frame">
            <img src="{{drink.photoUrl}}" alt="" class="featured-frame__picture">
          </div>
        </div>
      </a>
      {{/link-to}}
      {{/each}}

      <div class="carousel-fixed-item">
        <button class="clicks carousel-clicks" {{action carousel.next}}><i class="fa fa-chevron-right" aria-hidden="true"></i>
</button>
      </div>
    {{/md-carousel}}
  </div>
</div>
